body {
    margin: 2px;
}
html {
    border: 5px;
    background-image: url("https://previews.123rf.com/images/lar01joka/lar01joka1506/lar01joka150600211/41544487-group-of-musical-notes-on-a-white-background-vector-illustration.jpg");

}
